<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

                <a class="navbar-brand" href="index.html">
                    <img src="../static/assets/img/power-fitness-800x800.jpg" alt="">
                </a>
            
                <ul class="navbar-nav mr-5">
                        <li class="nav-item">
                                <a class="nav-link" href="/">خانه</a>
                                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login">ورود</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/programs">برنامه های بدنسازی</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about_us">درباره ما</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout">خروج</a>
                    </li>
                </ul>
                
            </nav>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 about-wrap">
                <h1>About Us</h1>
                <p>Born Fitness was designed to make sure you never stress about your health, fitness, or nutrition. You have questions, and we work with the world’s best experts to provide a variety of clear, helpful answers.

                        It doesn’t matter if your goal is losing weight, gaining muscle, living longer, or eating healthier — we make sure you don’t stress the details and have solutions that fit your needs.
                        
                        Think less confusion, more assistance, and a place you can trust. No matter what you might believe, good health is simply a matter of having access to the right information that fits into your preferences and then being provided with a roadmap of what to do so it’s easy to take action.
                        
                        We understand that you are frustrated by too much information, too many conflicting ideas, and non-stop empty promises.
                        
                        Your struggles are our motivation to solve your problems. No question is too big or too small. If we don’t have an answer, let us know and we’ll provide it. That’s the Born Fitness way.</p>
            
                        <p>
                                There are lots of good trainers, nutritionists, researchers, and writers. Our job is to bring them under one roof, and have them create solutions that are not only helpful, but also easy to understand, practical, and doable.

                                We will help you identify the best diets, exercises and workouts, and strategies that you can apply to your life to feel better, look the way you want, and live stronger and longer.
                                
                                There’s no reason for you to be stressed or believe that a healthier, fit body, a better mindset, or a better life isn’t for you.
                                
                                And more than anything: thank you.
                                
                                Thank you for having the courage to continue searching for a better way to live. Thank you for not giving up. And thank you for giving us a chance to be the light at the end of the tunnel. Our job is to make sure that you’re never in the dark again, and that we can provide solutions and strategies for all of your health, fitness, and nutrition needs. Welcome to the family.
                        </p>
                    </div>
        </div>
    </div>
</div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>